@charset "utf-8";
/* CSS Document */
body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

header{margin:0; float:left; width:100%; background:#c09952; box-shadow:0px 0px 2px #000}
.logo{ margin:0; padding:0; float:left; }
.hd_heading{ margin:0; float:left;text-align:center}
.admin{ margin:0; float:left;}
.logo img { width:80%;}
.admin ul{ width:100%; float:left; padding-top:40px}
.admin ul li{ padding:0px; list-style:none; margin:0; float:left}
.admin ul li a{ color:#fff; padding:20px 15px;}
.side_bar{ margin:0;padding:0; float:left; width:100%}
.hd_heading h1{ color:#fff;}



  
  @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right:22px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #c09952 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width:260px;
      height: 100%;
      margin-left: -200px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }

 


@media (max-width:1199px) 
 {
	
	 .logo img { max-width:100%;}
	 }



 @media (max-width:991px) 
 {
.attc_hdng{font-size: 26px;padding-top:11px;}


 @media (max-width:768px) 
 {
	.admin ul li a{ color:#fff; padding:20px 5px;}
 }
 
 @media (max-width:640px) 
 { 
	 .attc_hdng {font-size: 25px;		padding-top: 0;}
	 .admin ul {  float: left;  padding-top: 25px;}
	 .logo{ width:25%;}
	 .hd_heading{ width:75%;}
	 .admin{ width:25%; float:right; margin:0; padding:0;}
	 
 }
   @media (max-width:480px) 
 { 
	.admin{ width:45%;} 
 }
 
 
  @media (max-width:420px) 
 { 
 	
	.admin{ width:40%;} 
	
 }
 
  @media (max-width:360px) 
 { 
 	
.logo { width: 20%;}	
 .logo img { width: 100%;}
 .hd_heading {width:80%;}
 .hd_heading h1{ font-size:18px;}
 
 }
 